.vscode/tasks.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-8eb864bac4c410a1c85f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3e68b4e3ad9b9232d666.json
build/.cmake/api/v1/reply/codemodel-v2-899cec5e1a26a79b8b6d.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-02_oggetti_espressioni_istruzioni-Debug-9f72feb3b39c29f8e604.json
build/.cmake/api/v1/reply/index-2025-10-05T16-27-47-0817.json
build/.cmake/api/v1/reply/target-run-Debug-30810d4549d13aab9ad4.json
build/.cmake/api/v1/reply/toolchains-v1-c53f300132ef10ed09e2.json
build/02_oggetti_espressioni_istruzioni/cmake_install.cmake
build/02_oggetti_espressioni_istruzioni/Makefile
build/02_oggetti_espressioni_istruzioni/CMakeFiles/CMakeDirectoryInformation.cmake
build/02_oggetti_espressioni_istruzioni/CMakeFiles/progress.marks
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/build.make
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/cmake_clean.cmake
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/compiler_depend.make
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/compiler_depend.ts
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/depend.make
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/DependInfo.cmake
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/ex02.cpp.o
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/ex02.cpp.o.d
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/flags.make
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/link.txt
build/02_oggetti_espressioni_istruzioni/CMakeFiles/run.dir/progress.make
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
02_oggetti_espressioni_istruzioni/build/run
